# Evitar problemas con sharp durante la instalación
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
# Configuración general para mejorar la compatibilidad
legacy-peer-deps=true
node-linker=hoisted
